<h2>Calculadora</h2>
<form action="{% url 'encuesta:calculo_resultado' %}" method="post">
    {% csrf_token %}
    Primer número:
    <input type="number" name="num1"><br> <br>
    Segundo número:
    <input type="number" name="num2"><br> <br>
    Operación:
    <select name="operacion">
        <option value="suma">Suma</option>
        <option value="resta">Resta</option>
        <option value="multiplicacion">Multiplicación</option>
    </select><br> <br>
    <input type="submit" value="Calcular">
</form>
